[submodule "src/hpctoolkit"]
	path = src/hpctoolkit
	url = https://github.com/blue42u/hpctoolkit.git
[submodule "src/dyninst"]
	path = src/dyninst
	url = https://github.com/blue42u/dyninst.git
[submodule "src/elfutils"]
	path = src/elfutils
	url = git://sourceware.org/git/elfutils.git
[submodule "src/ref-dyninst"]
	path = src/ref-dyninst
	url = https://github.com/dyninst/dyninst.git
[submodule "src/ref-elfutils"]
	path = src/ref-elfutils
	url = git://sourceware.org/git/elfutils.git
[submodule "external/slaxml"]
	path = external/slaxml
	url = https://github.com/Phrogz/SLAXML.git
[submodule "src/testsuite"]
	path = src/testsuite
	url = https://github.com/blue42u/testsuite.git
[submodule "src/ref-hpctoolkit"]
	path = src/ref-hpctoolkit
	url = https://github.com/blue42u/hpctoolkit.git
